.DS_Store
CapStore/CapStore.xcodeproj/xcuserdata/george.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CapStore/CapStore.xcodeproj/project.xcworkspace/xcuserdata/george.xcuserdatad/UserInterfaceState.xcuserstate
CapStore/CapStore.xcodeproj/project.xcworkspace/xcuserdata/george.xcuserdatad/UserInterfaceState.xcuserstate
